Assets/Packages/
Assets/TextMesh Pro/
Library/
Logs/
UserSettings/
Assets/Plugins/
Temp/
obj/
Zenject.csproj
Zenject-Editor.csproj
Zenject-IntegrationTests.csproj
Zenject-IntegrationTests-Editor.csproj
Zenject-PoolMonitor-Editor.csproj
Zenject-ReflectionBaking-Editor.csproj
Zenject-TestFramework.csproj
Zenject-UnitTests-Editor.csproj
